DB_URI=postgres://admin:FhNNGXjavq08lKj3AmNwo5hkihLiJDvw@dpg-cm4pohvqd2ns73elhq1g-a.singapore-postgres.render.com/presentation_app_bory
DB_HOST=dpg-cm4pohvqd2ns73elhq1g-a.singapore-postgres.render.com
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=FhNNGXjavq08lKj3AmNwo5hkihLiJDvw
DB_DATABASE=presentation_app_bory
APP_EMAIL=slidey.tdtu@gmail.com
APP_EMAIL_PASSWORD=drjedyyxnjbrzldm
APP_NAME=SLIDEY
APP_HOMEPAGE=https://slidey.onrender.com
APP_LOGO=https://placehold.co/400x400.png
GOOGLE_CLIENT_Id=5292669152-rvcgmvfhuvsei0c41v8c7smujjpf8j6m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
PORT=5000